<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%} {% endblock%}</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
    <script src="static/js/bootstrap.min.bundle.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="{{ base_url }}/network_search">Network Details</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ base_url}}">baseURL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ base_url}}/network_search">baseURL_network_search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ q_url_for('static', filename = 'images/image.png') }}">image</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ q_url_for('static', filename = 'images/icon.png') }}">icon</a>
            </li>
        </ul>
    </div>
</nav>
<br>

{%block content%}

{% endblock%}
</body>
</html>