{% extends "base.html" %}
{% block title %} Search Network {% endblock %}
{% block content %}

<div class="container ">
    <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
            <form action="#" method="POST">
                <input class="search_input" name="ip" type="text" placeholder="Enter an IP address...">
                <input class="search_icon fas fa-search" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
<br/>

    {% for network in found %}
    <div class="float-left container">
        <table class="table table-striped table-bordered">
            {% for key, value in network.items() %}
            <tr>
                <th>{{ key }}</th>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}


{% endblock %}