{% extends "base.html" %}
{% block title %} Search Network {% endblock %}
{% block content %}

<div class="container ">
    <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
            <form action="#" method="POST">
                <div class="searchBar">
                    <input id="searchQueryInput" type="text" name="ip" placeholder="Enter an IP address..." value=""/>
                </div>
            </form>
        </div>
    </div>
</div>
<br/>

{% if ip_addr_exception %}
<div class="m-4">
    <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
        <i class="bi-exclamation-octagon-fill"></i>
        <strong class="mx-2">Error!</strong> {{ ip_addr_exception }}.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
</div>
{% endif %}

{% if found is defined and found|length < 1 %}
<div class="m-4">
    <div class="alert alert-info alert-dismissible d-flex align-items-center fade show">
        <i class="bi-info-circle-fill"></i>
        <strong class="mx-2"> No Matching networks found in your deployment!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
</div>

{% elif found is defined and found|length > 0 %}
<div class="justify-content-center text-center"><h6 class="text-secondary">Matching networks for {{ ip }}</h6></div>
{% for network in found %}
<div class="float-xl-left shadow p-3 mb-5 bg-white rounded d-flex container"
     style="width: fit-content; height: fit-content; padding: 10px;">
    <table class="d-flex justify-content-center table table-striped table-bordered">
        {% for key, value in network.items() %}
        <tr>
            <th class="text-capitalize">{{ key }}</th>
            <td class="text-capitalize">{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endfor %}
{% endif %}

{% endblock %}